#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  li{
    text-align: left;
    
  }
  ul{
  padding: 1rem;
  margin: 1rem;
  list-style: none;
  padding-left: 0;
  }
  p{
    text-align: left;
  }
  .card{
    border-radius: 5px;
    background-color: red;
    color:white
  }